.textBox{
background-color: rgba(54, 129, 71, 0.329);
text-align: center;
justify-content: center;
padding: 10%;
font-size: x-large;
}

body{
    background-color:rgb(214, 182, 133) ;
}

.knapper{
    text-align: center;
    font-size: x-large;
    padding: 10%;
    color: blue;
    
}
    
    
 .row1{
    font-size: x-large;
}   
    



    
    .row2{
font-size: x-large;
}


    
.row3{
font-size: x-large;

}

.row4{
    font-size: x-large;
}































